<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tenantyapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/undraw_cabin_hkfr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/undraw_cabin_hkfr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".DefectDetailActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".NewMessageActivity" />
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NewTenantCreatingActivity" />
        <activity android:name=".NewTenantRentalInfoActivity" />
        <activity android:name=".NewTenantInformationActivity" />
        <activity android:name=".NewTenantActivity" />
        <activity android:name=".TenantDetailActivity" />
        <activity android:name=".NewHomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>